// <weight>: Use a value from 200 to 900
// <uniquifier>: Use a unique and descriptive class name

.reddit-sans-<uniquifier {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
    font-family: "Reddit Sans", sans-serif;
    color: #000080;
}

a,
a:active {
    text-decoration: none;
}

nav a:visited {
    color: #000080;
}

#bajoAcordion {
 background-color: #7dbce2;
}

#bajoAcordion h3 {
    font-weight: 700;
}

#Especialidades {
    background-color: #dbe8f3;
    font-weight: 600;
}

#Especialidades .row .col-2 {
    font-size: 20px;
    min-height: 110px;
}



.deeplavander {background-color:#8b5ea8;}
.fireBush {background-color: #e1a133;}
.sandstorm {background-color: #f1cf42;}
.mantis {background-color: #79c25c;}
.DenimBlue {background-color: #7dbce2;}

.btn-principal {
    background-color: #000080;
    color: #fff;
    font-weight: 700;
}

h1 {
    font-weight: 900;
    color: #000080;
}

#myCarousel p {
    font-size: 1.5rem;
    color: #000080;
}

.card {
  display: block;
}

#Especialidades > div {
    font-size: 1.5rem;
    line-height: 100%;
}

.d-flex.d-md-none.navbar.py-4 a {
    color: #000080;
    font-size: 1.4rem;
}

.d-flex.d-md-none.navbar.py-4 button,
.d-flex.d-md-none.navbar.py-4 p {
    font-size: 1.4rem;
}

.nav.w-100.col-12 a {
    color: #000080 !important;
}

.border-bottom.border-4 {
    border-color: #000080 !important;
}

@media (max-width: 768px) {
    #myCarousel .carousel-inner .carousel-item{height: 45vh;}
    #myCarousel > div > div > div > div > p:nth-child(3) > a {width: 100%;}
    #Especialidades > div {font-size: 1.2rem; line-height: 100%;}
}


@media (min-width: 769px) {
body > main > footer > div > div > div.col-12.col-md-1.text-center img {
    width: 100% !important;
}}